<form action="/cart" method="post">
  <button class="btn" type="submit">放到購物車</button>
  <input type="hidden" name="_csrf" value="<%=token %>" />
  <input type="hidden" name="productId" value="<%= product._id%>" />
</form>
