.order {
  list-style: none;
  padding: 1rem;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  width: 50%;
  margin: 0 auto 2rem;
}

.order-item-container {
  padding: 0;
  display: flex;
}

.order-item {
  list-style: none;
  border: 1px solid #2f4f4f;
  margin-bottom: 10px;
  padding: 5px 2px;
  border-radius: 3px;
  color: #2f4f4f;
  width: 30%;
  text-align: center;
  margin-left: 1rem;
}
